<%- include('../partials/header') %>

    <h1>Enter A New Flight</h1>
    <form action="/flights" method="POST">
        <label>Airline:
            <input type="text" name="airline">
        </label><br>
        <label>Airport:
            <input type="text" name="airport">
        </label><br>
        <label>Flight No.
            <input type="number" name="flightNo">
        </label><br>
        <label>Departs:
            <input type="datetime-local" name="departs">
        </label>
        <br>
        <input type="submit" value="Add Flight">
    </form>

    <%- include('../partials/footer') %>